:root {
    --time_animation: 0.4s;
    --black_background: #202020;
    --brighter_background: #333;
    --font_color_text: #eee
}


img {
    width: 62.5px;
    height: 62.5px;

    border-radius: 50%;
}

.inner_left {
    width: 100px;
}

body {
    font-family: sans-serif;

    background-color: var(--black_background);
    color: var(--font_color_text);

    overflow: hidden;
}

.main {
    flex-direction: column;
    align-items: center;
}

.left_side {
    position: fixed;
    top: 30px;
    
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 25px;
    padding: 25px;

    background-color: var(--brighter_background);
    border-radius: 8px;
    color: var(--font_color_text);

}

.left_side_inner {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}


.menu_btn {
    color: var(--font_color_text);
}

.menu_btn:hover {
    color: red;
    transition: var(--time_animation);
}


.vk_icon {
    fill: #eee;
    margin-right: 5px;
}

.vk_icon:hover {
    fill: red;
    transition: var(--time_animation);
}

.inner_left {
    margin-right: 25px;
    padding-left: 25px;
}

.container {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    width: 1500px;

    background-color: var(--brighter_background);
}

.right_side_main {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.right_side_inner_content {
    position: absolute;

    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 25px;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    border-radius: 10px;
    background-color: rgba(130, 84, 247, 0.1);
}

.right_side_inner_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message {
    width: 350px;
    overflow: auto;
}

.content {
    display: flex;
    width: 750px;
    height: 63.5px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: var(--brighter_background);
    border-bottom: 1px solid gray;
}

.content:first-child {
    padding-top: 15px;
}


.content:hover {
    background-color: whitesmoke;
    color: var(--brighter_background);
    opacity: 0.9;
    border-radius: 10px;
    
    transition: var(--time_animation);
}

.content:active {
    background-color: rgba(182, 216, 227, 1);
    border-radius: 10px;
    
    transition: var(--time_animation);
}


.name {
    margin-bottom: 10px;
}

.btn_side {
    position: fixed;
    top: 30px;
    
    margin-left: 1200px;
    margin-top: 30px;
}

.usually_btn {
    padding: 10px;

    background-color: var(--brighter_background);
    color: #eee;
    border-radius: 8px;
}

.send_msg_text {
    width: 600px;
    height: 40px;
    
    border-radius: 10px;
    
}

.send_msg_block {
    position: fixed;
    bottom: 100px;

    margin-left: 400px;
    padding: 15px;
    
    border-radius: 8px;
    background-color: var(--brighter_background);
}


