:root {
    --time_animation: 0.4s;
}

body {
    background-color: #202020;
}



td {
    /* задаем границу для всех элементов */
    border: 3px solid grey;
    border-radius: 1px;
}

td,
th {
    /* делаем отступ в ячейках, выставляем выравнивание текста */
    padding: 10px 20px;

    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_div {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 500px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;

    background-color: #333;
    border-radius: 8px;
    -webkit-text-fill-color: #eee;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;

}

.main_title {
    margin: 25px;

    font-size: 45px;
}

.login_h2 {
    margin-bottom: 25px;

    font-size: 30px;
}

label {
    font-size: 20px;
}

.label_style_left_text {
    margin-right: 50px;
}

.radio_right {
    margin-left: 50px;
}

.vk_key_input {
    margin: 20px;
    width: 300px;
    height: 20px;
}



input,
select,
textarea {
    color: red;
}

.btn_login_style {
    width: 175px;
    height: 125px;

    background-color: #202020;
    border-radius: 8px;
    border: none;
}

.btn_login_style:hover {
    background-color: #444619;
    transition: var(--time_animation);
}

.btn_login_style:focus {
    background-color: #999e33;
    transition: var(--time_animation);
}

.btn_login_style:active {
    transition: var(--time_animation);
}

.table_with_key {
    display: flex;
    flex-direction: column;
}

.key_block {
    display: flex;
    flex-direction: row;

    border: 1px solid #333;
    border-radius: 15px;
}

.key_id {
    padding-top: 50px;
    padding-left: 25px;

    font-size: 50px;
}

.key_value {
    width: 500px;
    margin-left: 50px;
    padding: 15px;

    font-size: 20px;
    word-break: break-all;

    border-radius: 8px;

    /* border: none; */
}


.table_with_key {
    margin-top: 25px;

    background-color: #202020;
    border: none;
    border-radius: 15px;
}