<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация на получение ключа-шифрования</title>
    <script src="{{ url_for('js', path='/main.js') }}"></script>
    <script>
        window.onload = async function() {
            let userAlias = prompt("Какой у вас будет логин?")
            let host = window.location.href.split("/")[2]
            let response = await fetch(`http://${host}/allowed`, {
            "method": "POST",
            "mode": "cors",
            "headers": {
            "Content-Type": "application/json"
        },
        "body": JSON.stringify({"guest_alias": userAlias})
    })
    
    if (response.ok) {
        let guest = await response.json();
        if (guest["allow"]) {

            console.log("T")
            window.location.href = `http://${host}:8080/get_secret_key/${guest["client_host"]}/${guest["alias"]}`
        }
        // ht = document.body.innerHTML = html["html"]
        // parent.innerHTML = html["html"]
        // goToEnd()
    }
        
        }
    </script>
</head>
<body>
    
</body>
</html>