<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройка доступа</title>
    <link href="{{ url_for('css', path='/normal.css') }}" rel="stylesheet">
    <link href="{{ url_for('css', path='/set_up_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('js', path='/main.js') }}"></script>

</head>

<body>
    <div class="main">
        <div class="content">
            <h1 class="main_title">
                Настройка доступа
            </h1>
            <div class="table">
                <div class="row">
                    <div class="cell">Хост</div>
                    <div class="cell">Псевдоним</div>
                    <div class="cell">Доступ</div>
                </div>
                {% for guest in guests %}
    
                <div class="row">
                    <div class="cell" id="guest_host">{{ guest.guest_host }}</div>
                    <div class="cell" id="guest_alias">{{ guest.guest_alias }}</div>
                    {% if guest.is_allowed %}
    
                    <select id="allow_id_{{guest.guest_alias }}" onchange="sendChangePerm(this)">
                        <option selected value="1">Разрешен</option>
                        <option value="">Запрещен</option>
                    </select>
                    {% else %}
                    <select id="allow_id_{{guest.guest_alias}}" onchange="sendChangePerm(this)">
                        <option value="1">Разрешен</option>
                        <option selected value="">Запрещен</option>
                    </select>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</body>

</html>